/* #select-many-div {  
    position: relative; 
    z-index: 1; 
    background-color: white;
    border-radius: 4px;
    width: 100%; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
    padding: 1em; 
}
ul { 
    padding: 0%;
}
li { 
    list-style-type: none;
    margin-bottom: 0.5em; 
}
input { 
    width: 100%; 
}

#select-many { 
    display: none;
} */